@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    color: rgb(216, 216, 216);
    text-transform: capitalize;
}

#root{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: 2px solid black;
    width: 300px;
    background-color: rgb(16, 7, 55);
    border-radius: 5px;
    margin: 10px;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 130px;
    margin-top: 14px;
    padding: 10px 0px;
}

#img{
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
}

#off-on{
    position: absolute;
    left: 15px;
    top:15px;
    background-color: yellow;
    font-weight:500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1px 5px;
    color: black;
    border-radius: 3px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name, #place{
    font-size: 0.95em;
    font-weight:500;
    padding-top: 2px;
}

#role{
    font-size: 0.9em;
    font-weight: 300;
    padding-top: 2px;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#btn1, #btn2{
    padding: 7px 18px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
}

#btn1{
    background-color: rgb(0, 0, 255);
}

#btn2{
    border:2px solid rgb(0, 0, 255);
    background-color: rgb(16, 7, 55);
}

.skills{
    padding: 15px 5px;
    background-color: rgb(6, 2, 23);
}

.listItem{
    display: flex;
    list-style: none;
    font-size: .6em;
    flex-wrap: wrap;
}

#skill{
    font-size: .7em;
    padding-left: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

#li{
    margin: 5px;
    border:1px solid rgb(139, 139, 139);
    padding: 5px;
    text-transform: capitalize;
}